---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="itemCenter">
    <h1>404 page not found</h1>
    <h3>Opps, not on write page ??</h3>
    <a href="/">Go, Home !!!</a>
  </section>
</Layout>
