---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

// export const posts = [
//   { slug: "post1", title: "Hello World" },
//   { slug: "post2", title: "Second Post" },
// ];
// const items = allPosts.map((item) => item.url);
export async function getStaticPaths(): Promise<any> {
  const allPosts = await Astro.glob("../../../content/*.md");
  console.log(
    allPosts.map((i) => i.file.split("/").pop()?.replace(".md","")),
    "allPostsallPostsallPosts"
  );

  return allPosts.map((post) => ({
    params: { slug: post.file.split("/").pop()?.replace(".md","") },
    props: { data: post },
  }));
}

const { slug } = Astro.params;
const { data } = Astro.props;
const { frontmatter,Content, rawContent } = data;
const { title, description, date, image, author } = frontmatter;
console.log(rawContent, "frontmatter================");
---

<Layout>
  <div class="itemCenter">
    <h1 class="mb-8 font-bold">{title}</h1>
    <img  class="w-[50%]" src={image.src} alt="" />
    <big class="m-8"
      >{author} <span>{new Date(date).getFullYear()}</span></big
    >
    <h4 class="text-center">
      {description}
    </h4>
    <Content/>
  </div>
</Layout>
